<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <header th:replace="/fragments/header.html :: header"></header>
    <!--<meta charset="UTF-8">
    <title>BOARD</title>-->
</head>

<body>
    <div>
        <a th:href="@{/}">BOARD</a><br><br>

        <table>
            <tr>
                <th>No</th>
                <th>title</th>
                <!--<th>contents</th>-->
                <th>writer</th>
            </tr>
            <tr th:each="post : ${postList}">
                <td th:text="${post.getId}"></td>
                <td><a th:href="@{/postDetail/{postId}(postId=${post.getId})}" th:text="${post.getTitle}"></a></td>
                <!--<td th:text="${post.getContents}"></td>-->
                <td th:text="${post.getWriter}"></td>
            </tr>
        </table>

        <a th:href="@{/createPost}">create</a>
    </div>
</body>
</html>